@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #111111;
  --foreground: #eeeeee;
}

body {
  color: var(--foreground);
  background: var(--background);
}
