@import "tailwindcss";

:root {
  --background: #f2e8d5;
  --foreground: #171717;
  --bubble-bg: #faf1e0;
}

.dark {
  --background: #2a2318;
  --foreground: #eeeeee;
  --bubble-bg: #393127;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.hover\:underline:hover {
  text-decoration: underline;
}
